<ion-view view-title="Acerca de">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
      Linux Tricks
      </div>
      <div class="item item-text-wrap">
      Herramienta de aprendizaje de comandos de consola y atajos de teclado de programas.
      </div>
    </div>
    <div class="card">
        <div class="item item-divider">
        Creado por
        </div>
        <div class="item item-text-wrap">
        César Galvis Triviño
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
        Herramientas utilizadas:
        </div>
        <div class="item item-text-wrap">
        vtortola (terminal emulator): <a href="https://github.com/vtortola">link</a>
        </div>
    </div>
  </ion-content>
</ion-view>
