<ion-view view-title="{{atajo.titulo}}">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <b>Categoría:</b>
      </div>
      <div class="item item-divider">
        {{atajo.categoria}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <b>Descripción:</b>
      </div>
      <div class="item item-divider">
        {{atajo.descripcion}}
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <b>Combinación:</b>
      </div>
      <div class="item item-divider">
        {{atajo.combinacion}}
      </div>
    </div>
  </ion-content>
</ion-view>
