<ion-view view-title="{{comando.titulo}}">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <b>{{comando.titulo}}</b>
      </div>
      <div class="item item-text-wrap">
        {{comando.descripcion}}
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <b>Sintaxis</b>
      </div>
      <div class="item item-text-wrap">
        {{comando.sintaxis}}
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <b>Opciones</b>
      </div>
      <div class="list">
        <a class="item" ng-repeat="opcion in comando.opciones">
          <h2>{{opcion.opcion}}</h2>
          <p>{{opcion.descripcion}}</p>
        </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <b>Ejemplos</b>
      </div>
      <div class="list">
        <a class="item" ng-repeat="ejemplo in comando.ejemplos">
          <h2>{{ejemplo.entrada}}</h2>
          <p ng-hide="(ejemplo.salida == null)">{{ejemplo.salida}}</p>
          <p>{{ejemplo.explicacion}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
