<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Diccionarios" icon="ion-ios-book" href="#/tab/diccionarios">
    <ion-nav-view name="tab-diccionarios"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Atajos" icon="ion-chatboxes" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Simulador" icon="ion-monitor" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Configuración" icon="ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
