<ion-view view-title="{{programa.nombre}}">
  <ion-content>
    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Buscar" ng-model="buscar">
        </label>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="atajo in programa.atajos | filter: buscar" type="item-text-wrap" href="#/app/programas/{{programa.id}}/atajo/{{atajo.id}}">
        <i class="icon ion-star"></i>
        <h2>{{atajo.descripcion}} ({{atajo.combinacion}})</h2>
        <span class="item-note">
          {{atajo.categoria}}
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
